body {
    background-color: #333;
    font-family: 'Lora', serif;
    font-size: 15pt;
}

.computer {
    background-color: white;
}

ul {
    margin-bottom: 5px;
}
@media only screen and (max-width: 900px) {

    .disappear {
        display: none;
    }

}

.type {
    font-family: 'Arimo', sans-serif;
    font-size: smaller;
}
.openingquote {
    color: pink;
}
.blurb {
    border-top: dotted pink thick;
    font-family: 'Nanum Gothic Coding', monospace;
    margin-left: -100px;
    margin-right: -100px;
    font-size: 18px;
    line-height: 36px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: dotted pink thick;
    margin-bottom: 40px;
  }

  .pink {
      color: pink;
  }

.resume {
    margin: auto;
    margin-top: -140px;
    width: 100%;
    transition: transform .2s;
}

.resume:hover {
    transform: scale(1.1);
  }

.closing_text {
        font-family: 'Arimo', sans-serif;
        text-transform: uppercase;
        font-size: 37px;
        line-height: 49px;
        border-bottom: solid pink;
        margin-right: 58px;
}

.black {
    background-color: pink;
margin-top: -89px;
}

.resume-box {
    margin-top: 0px;
  
}

li, li a {
    display: inline;
    color: #ccc;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

li a.checked {
    display: inline;
    color: pink;
    list-style: none;
    font-weight: bold;
    background-color: rgb(47, 47, 47);
    padding-top: 12px;
    padding-bottom: 9px;
    padding-left: 5px;
    padding-right: 5px;
  }


.container-fluid {
    padding: 0px;
    max-width: 1100px;

}
h1 {
    font-family: 'Arimo', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 49px;
}

h2 {
    font-size: 20px;
    font-family: 'Nanum Gothic Coding', monospace;
    padding-left: 25%;
    padding-right: 20%;
    line-height: 39px;
}

.btn {
    border-radius: 0px;
}

#online-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:500px;
    text-align: center;
    background-image: url(computer_images/computer.jpg);
}

.contact {
    height: 150px;
    background-color: white;
}

.online-item a, .online-item span {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 16px;
    margin-top: 20px;
    color: pink;
    display: inline-block;
    background-color: black;
    padding: 10px;
    transition: transform .2s;
}

.online-item a:hover, .online-item span:hover {
    transform: scale(1.1);
}

.section-heading {
    font-family: 'Nanum Gothic Coding', monospace;
    margin-bottom: 30px;
}

img {
    padding: 0px;
}

img.left-logo {
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
img.right-logo {
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.thumbnails-bg {
    width: 80%;
    margin: auto;
}

.symbol {
    font-size: 50px;
    margin-top: -36px;
    margin-bottom: -10px;
}


.content-container {
    background-color: #FFF;
    text-align: center;
}

.top-space {
    background-color: black;
}

.bottom-space {
    background-color: black;
    
}


.navigation {
    background-color: #FFF;
    padding-left: 200px;
    padding-right: 200px;
}

.row-height {
    height: 85px;
    text-align: center;
    padding-top: 25px;
    background-color: #bdbdbd;
    margin: 0px;
}

.row-height-white {
    height: 85px;
    text-align: center;
    padding-top: 25px;
    background-color: #FFF;
    margin: 0px;
}

.emphasis {
    font-style: oblique;
    font-size: 13pt;
}

.bold {
    font-weight: bolder;
    font-size: 25pt;
}

.underline {
    border-bottom: 1px solid currentColor;
    padding-bottom: 5px;
}

.grid-bg {
    background-image: url("projects/images/grid.gif");
    padding-bottom: 30px;
}



.content {
    height: 2000px;
}

.shade {
    background-color: #CCC;
    opacity: 0.53;
}

.white {
    background-color: #FFF;
    height: 1000px;
}

.cover {
    width: 90%;
    margin: auto;
    display: block;
}

.modal-header, .modal-footer { 
    display: none;
}

.modal-body { 
    padding: 0;
}

.coverhomepage {
    width: 90%;
    margin: auto;
    display: block;
    transition: transform .2s;
}

.coverhomepage:hover {
    transform: scale(1.1);
}

.ad {
    width: 90%;
    margin: auto;
    display: block;
}

.spread {
    width: 90%;
    margin: auto;
    display: block;
    margin-bottom: 40px;
    cursor: pointer;
    transition: transform .2s;
}

.modal-body {
    cursor: pointer;
}

.spread:hover {
    transform: scale(1.1);
}

.design-items {
    padding-top: 25px;
}

.description-box {
    width: 90%;
    margin: auto;
    padding-top: 18px; 
    padding-bottom: 2px;
    margin-bottom: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.project-type {
    margin-bottom: 2px;
    display: none;
}

.description {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Nanum Gothic Coding', monospace;

}

.projectcount {
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 5px;
    font-family: 'Nanum Gothic Coding', monospace;

}

a {
    text-decoration: none;
    color:black;    
}

.descriptive-box {
    padding-top: 180px;
  }

a.btn {
    font-family: 'Nanum Gothic Coding', monospace;
}  

.my-role {
    display: none;
}
.descriptive-box p {
    font-size: 17px;
    line-height: 30px;
}

li {
    font-size: 13px;
    font-family: 'Nanum Gothic Coding', monospace;
    color: #ccc;
    padding-left: 20px;
}



ul {
    list-style: none; /* Remove default bullets */
    text-align: center;
  }
  
 

hr {
    margin-bottom: 30px;
}

img.homepage-logo {
    width: 400px;
    margin: auto;
    display: block;
}

.button-bar {
    padding-top: 150px; 
    padding-bottom: 11px;
}

.dropcap {
    float: left;
    font-size: 4em;
    text-align: center;
    margin-right: 5px;
    margin-top: 12px;
  }

a.github {
    text-decoration: none;
    color: #fff;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 16px;
    padding: 12px;
}

.org-header {
    width: 1123px;
    margin-left: -12px;
    margin-top: -91px;
    margin-bottom: 50px;
}