a.pdf {
    text-decoration: none;
    color: #FFF;
    background-color: #ccc;
    font-size: small;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
}
a.pdf:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #ccc;
}